@model BookingDTO

<div class="container-md">
    <form method="post">
        <input type="hidden" asp-for="BookingItemDTO.BookingItemId" />
        <input type="hidden" asp-for="BookingItemDTO.UserId" />
        <div class="row mt-3 mb-3">
            <div class="col">
                <h3><i class="bi bi-list-ul"></i>&nbsp;Your Booking(s)</h3>
            </div>
            <div class="col text-end">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-home"></i>&nbsp;Back To Home
                </a>
            </div>
        </div>

        <table class="table caption-top table-bordered - table-striped" id="ListingTable">
            <thead>
                <tr>
                    @* <th scope="col" class="col text-center">#</th> *@
                    <th scope="col" class="col text-center">Listing Preview</th>
                    <th scope="col" class="col">Listing Name</th>
                    <th scope="col" class="col-6 text-center">Description</th>
                    <th scope="col" class="col text-center text-nowrap">Price(<i class="bi bi-currency-rupee"></i>)</th>
                    <th scope="col" class="col text-center">Days</th>
                    <th scope="col" class="col text-center">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.BookingDetailsDTO != null)
                {
                    @foreach (var item in Model.BookingDetailsDTO)
                    {
                        <tr>
                            @* <td scope="col" class="col text-center">@item.BookingDetailId</td> *@
                            <td><img src="@item.Listing.ImageUrl" class="img-thumbnail" alt="@item.Listing.Name"></td>
                            <td scope="col" class="col-2">@item.Listing.Name</td>
                            <td scope="col" class="col-4">@item.Listing.Description</td>
                            <td scope="col" class="col text-center">@item.Listing.ListingPrice</td>
                            <td scope="col" class="col text-center">@item.DayOfStay</td>
                            <td scope="col" class="col text-center">
                                @* <a class="btn btn-outline-success" asp-action="Manage" asp-route-id="@item.ListingId">
                        <i class="bi bi-pencil"></i>
                        </a> *@
                                <a class="btn btn-outline-danger" asp-controller="Booking" asp-action="Delete" asp-route-id="@item.BookingItemId" onclick="deleteConfirmation(event);">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr class="bg-dark bg-gradient w-50 text-white">
                        <td colspan="6" class="text-end">
                            <div>Booking Total:<i class="bi bi-currency-rupee"></i> <span class="text-warning fw-bold">@Model.BookingItemDTO.BookingTotal</span></div>
                            Booking Discount:<i class="bi bi-currency-rupee"></i> <span class="text-danger fw-bold">@(@Model.BookingItemDTO.Discount.ToString() == "" ? 0 : Model.BookingItemDTO.Discount)</span>
                        </td>
                    </tr>
                    <tr class="bg-gradient bg-secondary text-black">
                        <td class="text-end text-uppercase align-middle">
                            Apply Offer Code:
                        </td>
                        @if (string.IsNullOrEmpty(Model.BookingItemDTO.OfferCode))
                        {
                            <td class="align-middle">
                                <input type="text" id="OfferCode" asp-for="BookingItemDTO.OfferCode" />
                            </td>
                            <td class="align-middle">
                                <input type="submit" class="btn btn-success small text-uppercase" asp-controller="Booking" asp-action="ManageOffer" value="Add Offer Code" />
                            </td>
                        }
                        else
                        {
                            <td class="align-middle">
                                <input type="text" id="OfferCode" class="bg-secondary text-light" style="border:solid 0px!important;padding:5px" asp-for="BookingItemDTO.OfferCode" value="@(Model.BookingItemDTO.OfferCode)" readonly />
                            </td>
                            <td class="align-middle">
                                <input type="submit" class="btn btn-danger small text-uppercase" asp-controller="Booking" asp-action="RemoveOffer" value="Remove Offer" />
                            </td>
                        }
                        <td colspan="3" class="align-middle text-center text-nowrap">
                            <a role="button" class="btn btn-sm p-2 btn-success text-uppercase" asp-controller="Booking" asp-action="CheckOut">Proceed 2 CheckOut</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td scope="col" colspan="12" class="col">
                            No Bookings Yet!
                        </td>
                    </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>
    </form>
</div>
